<h1>Cadastrar Saída do Veículo</h1>
<%= form_for @vehicle, url: new_saida_path, method: :post do |f| %>
    <div class="field">
        <%= label_tag :placa,  'Placa do veículo:' %>
        <%= text_field_tag :placa %>
</div>
<div class="field">
    <%= f.label :hora_saida, 'Hora de saída: ' %>
    <%= f.datetime_local_field :hora_saida%>
</div>

<%= f.submit "Cadastrar saída", onclick: "confirmCadastro(event)", data: { confirm: "Confirma o cadastro do veículo de placa #{f.object.placa},
   hora de saída: #{Time.current.strftime('%d/%m/%Y %H:%M:%S')}?" } %>
<%= button_to "Voltar para tela Principal", welcome_path, method: :get, class: "btn"%>
<% end %>

<script>
function confirmCadastro(event) {
    event.preventDefault();

    if (confirm('Tem certeza que deseja cadastrar o veículo de placa <%= @vehicle.placa %> ?')){
        event.target.form.submit();
    }
}
</script>

<!-- Exibir os atributos do @vehicle -->
<% if @vehicle.present? %>
<h2>Atributos do Veículo:</h2>
<p><strong>Placa:</strong> <%= @vehicle.placa %></p>
<p><strong>Nome do Veículo:</strong> <%= @vehicle.nome_veiculo%>
<p><strong>Dono do Veículo:</strong> <% @vehicle.dono_do_veiculo%>
<p><strong>Hora de Entrada:</strong> <%= @vehicle.hora_entrada%></p>
<p><strong>Hora de Saída:</strong> <%= @vehicle.hora_saida %></p>
<p><strong>Total a Pagar:</strong> <%= @vehicle.total_a_pagar_por_veiculo %></p>
<!-- Exibirt outros atributos do @vehicle, se houver -->
<% end %>
