<body class="view-saida">

<h1>Cadastrar Saída do Veículo</h1>

<% if flash[:notice] %>
    <div class="notice">
        <%= flash[:notice] %>
        <% if flash[:vehicle_attributes] %>
        <p><strong>Placa:</strong> <%= flash[:vehicle_attributes]['placa'] %></p>
        <p><strong>Nome do Veículo:</strong> <%= flash[:vehicle_attributes]['nome_veiculo'] %></p>
        <p><strong>Dono do Veículo:</strong> <%= flash[:vehicle_attributes]['dono_do_veiculo'] %></p>
        <p><strong>Hora de Entrada:</strong> <%= flash[:vehicle_attributes]['hora_entrada'] %></p>
        <p></strong>Hora de Saída:</strong> <%= flash[:vehicle_attributes]['hora_saida'] %></p>
        <p></strong>Total a Pagar:</strong> <%= flash[:vehicle_attributes]['total_a_pagar_por_veiculo'] %></p>
        <!--Exibir outros atributos do veículo, se houver -->
        <% end %>
    </div>
<% end %>

<%= form_for @vehicle, url: new_saida_path, method: :post do |f| %>
  <div class="field">
    <%= label_tag :placa, 'Placa do veículo:' %>
    <%= text_field_tag :placa %>
  </div>
  <div class="field">
    <%= f.label :hora_saida, 'Hora de saída: ' %>
    <%= f.datetime_local_field :hora_saida %>
  </div>

  <%= f.submit "Cadastrar saída", class: "btn", id: "submit-button" %>
  <%= link_to "Voltar para tela Principal", welcome_path, class: "btn" %>
<% end %>
</body>