<h1><%= @mensagem %></h1>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<script>
    setTimeout(function(){
        var flashNotice = document.querySelector('.notice');
        if(flashNotice){
            flashNotice.remove();
        }
    }, 5000);
</script>

<style>
    .button-group {
        margin: 10px 0;
    }
</style>

<div class="button-group">
    <%= button_to "Cadastrar entrada do veículo", entrada_path, method: :get %>
    <%= button_to "Cadastrar saída do veículo", new_saida_path, method: :get %>
    <%= button_to "Buscar veículo por placa", search_vehicle_path, method: :get %>
    <!-- <button onclick="window.location.href='delete_vehicle';" class="btn">Deletar um registro de um veículo por placa</button> -->
    <%= button_to "Deletar um registro de um veículo por placa", delete_form_path, method: :get, class: 'btn btn-primary' %>
    <%= button_to "Editar um registro de um veículo por placa", edit_by_placa_vehicle_path(:placa), class: "edit-button" %>
</div>