<%= form_tag delete_form_path, method: :get do %>
    <%= label_tag(:Placa, "Buscar por placa:") %>
    <%= text_field_tag(:placa) %>
    <%= submit_tag("Buscar") %>
<% end %>

<% if @vehicle %>
    <h2>Informações do veículo:</h2>
    <p><strong>Placa:</strong> <%= @vehicle.placa %></p>
    <p><strong>Nome do veículo:</strong> <%= @vehicle.nome_veiculo %></p>
    <p><strong>Dono do veículo:</strong> <%= @vehicle.dono_do_veiculo %></p>
    <p><strong>Hora de entrada:</strong> <%= @vehicle.hora_entrada %></p>
    <p><strong>Hora saída:</strong> <%= @vehicle.hora_saida %></p>
    <p><strong>Total a pagar:</strong> <%= @vehicle.total_a_pagar_por_veiculo %></p>
     <%= button_to "Deletar esse veículo", destroy_vehicle_path(placa: @vehicle.placa), method: :delete, data: { confirm: 'Tem certeza?', class: 'btn' } %>
<% end %>