<body class="view-edit">
<h1>Editar Veículo</h1>
<%= form_for(@vehicle, url: update_vehicle_path(@vehicle.placa), method: :patch) do |f| %>
    <%= f.label :placa, "Placa do Veículo" %>
    <p><%= f.text_field :placa %></p>
    <p><%= f.label :nome_veiculo, "Nome do Veículo" %></p>
    <p><%= f.text_field :nome_veiculo %></p>
    <p><%= f.label :dono_do_veiculo, "Dono do Veículo" %></p>
    <p><%= f.text_field :dono_do_veiculo %></p>
    <p><%= f.label :hora_entrada, "Hora de Entrada" %></p>
    <p><%= f.text_field :hora_entrada %></p>
    <p><%= f.label :hora_saida, "Hora de Saída" %></p>
    <p><%= f.text_field :hora_saida %></p>
    <p><%= f.label :total_a_pagar_por_veiculo, "Total a pagar por veículo" %></p>
    <p><%= f.text_field :total_a_pagar_por_veiculo %></p>
    <p><%= f.submit "Editar" %></p>
<% end %>
</body>