<!DOCTYPE html>
<html>
  <head>
    <title>Estacionamento</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %> <!-- token de autenticidade no formulário do botão "Deletar esse veículo".>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %> <!-- Carrega a nossa 'welcome.html.erb' page.-->
  </body>
</html>
