<!DOCTYPE html>
<html>
  <head>
    <title>Estacionamento</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
<script>
function confirmCadastro() {
    if (confirm('Tem certeza que deseja cadastrar o veículo de placa <%= @vehicle.placa %> ?')){
        document.form[0].submit();
    }
}
</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
