<h1><%= @mensagem %></h1>
<%= link_to "Cadastrar entrada do veículo", new_vehicle_path %>
<%= link_to "Cadastrar saída do veículo", new_vehicle_path %>
<%= link_to "Buscar veículo por placa", vehicles_path %>
<%= link_to "Gerar relatório corrente", report_path %>
<%= link_to "Deletar registro de veiculo", vehicles_path, method: :delete %>
<%= link_to "Editar registro de veículo", edit_vehicle_path %>
<%= link_to "Editar regitstro de veículo", edit_vehicle_path %>
<%= link_to "Sair", logout_path %>
